<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Server" value="https://nuget.devexpress.com/zgoOAiUJOEO74jFZ8kgCbdNvbfeBvsco6vBNr6N1PXaQMnvONY/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Abp" />
      <package pattern="Aspire.*" />
      <package pattern="AspNetCore.*" />
      <package pattern="Azure.*" />
      <package pattern="BouncyCastle.*" />
      <package pattern="Castle.*" />
      <package pattern="Cropper.*" />
      <package pattern="coverlet.*" />
      <package pattern="DevExtreme.*" />
      <package pattern="Extended.*" />
      <package pattern="FirebaseAdmin" />
      <package pattern="FluentFTP" />
      <package pattern="Fractions" />
      <package pattern="Google.*" />
      <package pattern="Grpc.*" />
      <package pattern="Hangfire" />
      <package pattern="Hangfire.*" />
      <package pattern="HarfBuzzSharp" />
      <package pattern="HarfBuzzSharp.*" />
      <package pattern="HtmlAgilityPack" />
      <package pattern="Humanizer" />
      <package pattern="Humanizer.*" />
      <package pattern="IdentityModel" />
      <package pattern="IdentityModel.*" />
      <package pattern="Json.*" />
      <package pattern="JsonPatch.*" />
      <package pattern="JsonPointer.*" />
      <package pattern="JetBrains.*" />
      <package pattern="KubernetesClient" />
      <package pattern="Mail.*" />
      <package pattern="MailKit" />
      <package pattern="Markdig" />
      <package pattern="MathNet.*" />
      <package pattern="MediatR" />
      <package pattern="MediatR.*" />
      <package pattern="MessagePack" />
      <package pattern="MessagePack.*" />
      <package pattern="Microsoft.*" />
      <package pattern="MimeKit" />
      <package pattern="Mono.*" />
      <package pattern="NETStandard.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Nito.*" />
      <package pattern="NUnit" />
      <package pattern="NUnit.ConsoleRunner" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="NunitXml.TestLogger" />
      <package pattern="NuGet.*" />
      <package pattern="OpenAI" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="Polly.*" />
      <package pattern="runtime.*" />
      <package pattern="Selenium.*" />
      <package pattern="SendGrid" />
      <package pattern="Serilog" />
      <package pattern="Serilog.*" />
      <package pattern="SkiaSharp" />
      <package pattern="SkiaSharp.*" />
      <package pattern="SSH.*" />
      <package pattern="starkbank-ecdsa" />
      <package pattern="Swashbuckle.*" />
      <package pattern="System.*" />
      <package pattern="TimeZoneConverter" />
      <package pattern="Twilio" />
      <package pattern="WinSCP" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="YamlDotNet" />
    </packageSource>
    <packageSource key="DevExpress Server">
      <package pattern="DevExpress.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>